# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
